
# Rust build outputs
/target
/debug/
/release/

# IDE/editor files
/.vscode/
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp
*.log
*.d
*.rs.bk

# Test outputs
*.test
*.out

# Distribution / Web (ayrı repoda)
/ZetSetup/
/zetWeb/

# Misc
node_modules/
